input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid #db4444;
}

@media (max-width: 500px) {
  .title{
    font-size: x-large;
  }
}
.form-container {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (max-width: 500px) {
  .form-container{
    padding: 15px;
  }
}

@media (max-width: 500px){
  .outer-form{
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .row{
    flex-direction: column;
  }
}
.form-group {
  margin-bottom: 15px;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .form-group label,
  .checkbox-group label{
    font-size: smaller;
  }
}
.main{
  font-weight: bold;
  color: rgb(245, 62, 62);
  margin: 20px 0;
}


.form-control{
  background-color: #F0F0F0;
  color: gray;
  width: 100%;
  padding: 10px 20px;
}
@media (max-width: 500px) {
  .form-control{
    font-size: smaller;
  }
}

.checkbox-container {
  display: flex;
  margin-bottom: 20px;
}

.checkbox-group {
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 5px;
}
@media (max-width: 500px) {
  input[type="checkbox"]{
    width: 15px;
    height: 15px;
  }
}
.btn{
  background-color: #8910F1;
  color: white;
  font-weight: bolder;
  padding: 20px;
  width: 30%;
  float: right;
}

@media (max-width: 500px) {
  .btn{
    padding: 5px 10px;
    width: 50%;
  }
}

.div {
  background-color: var(--Text2, #000);
  padding: 16px 74px;
}
@media (max-width: 500px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 500px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.div-3 {
  z-index: 10;
  display: flex;
  margin-top: 85px;
  flex-direction: column;
}
@media (max-width: 500px) {
  .div-3 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-4 {
  color: var(--Text, #fafafa);
  letter-spacing: 1.92px;
  font: 600 48px/60px Inter, sans-serif;
}
@media (max-width: 500px) {
  .div-4 {
    max-width: 100%;
    font-size: 40px;
    line-height: 56px;
  }
}
.div-5 {
  align-self: start;
  display: flex;
  margin-top: 13px;
  gap: 8px;
  font-size: 16px;
  color: var(--Text, #fafafa);
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  line-height: 150%;
}
@media (max-width: 500px) {
  .div-5 {
    white-space: initial;
  }
}
.div-6 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
@media (max-width: 500px) {
  .div-6 {
    white-space: initial;
  }
}
.div-7 {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: white;
}
@media (max-width: 500px) {
  .div-7 {
    white-space: initial;
  }
}
.div-8 {
  background-color: #fafafa;
  height: 1px;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-9 {
  align-items: start;
  align-self: center;
  display: flex;
  width: 110px;
  max-width: 100%;
  gap: 12px;
  margin: 22px 0 0 68px;
}
 input[type= 'radio'] {
    accent-color: #db4444;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .column-2 {
    width: 100%;
  }
}
.img-3 {
  aspect-ratio: 1.41;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 500px) {
  .img-3 {
    max-width: 100%;
    margin-top: 16px;
  }
}