<div class="div-267">
    <div class="div-268">
      <div class="column-19 d-flex justify-content-center align-items-center">
        <div class="div-269">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a7ac1173ae4a02d79b7988d499739e3cd78bf4271d9a13516c88e2e69237ae6?apiKey=06fe0a709eb54a959aa6ff3471e84527&"
            class="img-81" />
          <div class="div-270">FREE AND FAST DELIVERY</div>
          <div class="div-271">Free delivery for all orders over $140</div>
        </div>
      </div>
      <div class="column-19 d-flex justify-content-center align-items-center">
        <div class="div-269">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/616fb6ad54fbb09ab6b9956c240d5a6eb0aa5cad70728527903d009d035c5338?apiKey=06fe0a709eb54a959aa6ff3471e84527&"
            class="img-81" />
          <div class="div-270">24/7 CUSTOMER SERVICE</div>
          <div class="div-271">Friendly 24/7 customer support</div>
        </div>
      </div>
      <div class="column-19 d-flex justify-content-center align-items-center">
        <div class="div-269">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/77df6f6aecbe9585aa6b9a5b6e03bceea66e9f74b62b99e9579a562406cdb771?apiKey=06fe0a709eb54a959aa6ff3471e84527&"
            class="img-81" />
          <div class="div-270">MONEY BACK GUARANTEE</div>
          <div class="div-271">We reurn money within 30 day</div>
        </div>
      </div>
    </div>
  </div>
