.upload-form {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .upload-form .title {
    size: 20px;
    margin-bottom: 20px;
    color: #F74316;
    font-weight: 700;
  }
  
.upload-area {
    width: 320px;
    height: 244px;
    border: 2px #B1B1B1;
    background-color: #F0F0F0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.uploaded-files {
    justify-content: left;
}
  
  .upload-area input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload-area p {
    margin: 0;
  }
  
  .btn{
    background-color: #8910F1;
    color: white;
    font-weight: bolder;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    margin-top: auto;
    display: block;
  }

  .image-container {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.image-container img {
    border-radius: 5px;
    border: 1px solid black;
    width: 187px;
    height: 178px;
    transition: transform 0.2s ease-in-out;
}
.image-container p {
    margin: 5px 0 0;
    font-weight: 700;
    size: 14px;
}
.image-container:hover img {
    transform: scale(1.1);
}
  
.div {
  background-color: var(--Text2, #000);
  padding: 16px 74px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-3 {
  z-index: 10;
  display: flex;
  margin-top: 85px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-4 {
  color: var(--Text, #fafafa);
  letter-spacing: 1.92px;
  font: 600 48px/60px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    font-size: 40px;
    line-height: 56px;
  }
}
.div-5 {
  align-self: start;
  display: flex;
  margin-top: 13px;
  gap: 8px;
  font-size: 16px;
  color: var(--Text, #fafafa);
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  line-height: 150%;
}
@media (max-width: 991px) {
  .div-5 {
    white-space: initial;
  }
}
.div-6 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-6 {
    white-space: initial;
  }
}
.div-7 {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: white;
}
@media (max-width: 991px) {
  .div-7 {
    white-space: initial;
  }
}
.div-8 {
  background-color: #fafafa;
  height: 1px;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-9 {
  align-items: start;
  align-self: center;
  display: flex;
  width: 110px;
  max-width: 100%;
  gap: 12px;
  margin: 22px 0 0 68px;
}

 input[type= 'radio'] {
    accent-color: #db4444;
    outline: none;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img-3 {
  aspect-ratio: 1.41;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-3 {
    max-width: 100%;
    margin-top: 16px;
  }
}