
    <div class="div">
      <div class="div-2">
        <div class="div-3">
          <div class="div-4 breadcrumb">
            <div class="div-5 breadcrumb-item">Home</div>
            <div class="div-5 breadcrumb-item active">My Account</div>
          </div>
          <div class="div-7  d-flex justify-content-end">
            Welcome!
            <span class="mx-2" style="color: rgba(219, 68, 68, 1)"> Md Rimel</span>
          </div>
        </div>
        <div class="div-8">
          <div class="div-9">
            <div class="column ">
              <div class="div-10">
                <div class="div-11">Manage My Account</div>
                  <a class="div-12 px-4">My Profile</a>
                  <a class="div-13 px-4">Address Book</a>
                  <a class="div-14 px-4">My Payment Options</a>
                <div class="div-15">My Orders</div>
                  <a class="div-16 px-4">My Returns</a>
                  <a class="div-17 px-4">My Cancellations</a>
                <div class="div-18">My WishList</div>
              </div>
            </div>
            <div class="column-2">
              <div class="div-19">
                <div class="div-20">Edit Your Profile</div>
                <div class="div-21">
                  <div class="div-22">
                    <div class="div-23">First Name</div>
                    <input type="text" class="div-24" placeholder="Md">
                  </div>
                  <div class="div-25">
                    <div class="div-26">Last Name</div>
                    <input type="text" placeholder="Rimel" class="div-27">
                  </div>
                </div>
                <div class="div-28">
                  <div class="div-29">
                    <div class="div-30">Email</div>
                    <input type="email" placeholder="rimel1111@gmail.com" class="div-31">
                  </div>
                  <div class="div-32">
                    <div class="div-33">Address</div>
                    <input type="text" class="div-34" placeholder="Kingston, 5236, United State">
                  </div>
                </div>
                <div class="div-35">Password Changes</div>
                <input type="password" placeholder="Current Passwod" class="div-36">
                <input type="password" class="div-37" placeholder="New Passwod">
                <input type="password" class="div-38" placeholder="Confirm New Passwod">
                <div class="div-39">
                  <button type="reset" class="div-40">Cancel</button>
                  <button type="submit" class="div-41">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      