a{
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
.div {
    background-color: var(--BG, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    display: flex;
    margin-top: 30px;
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: var(--Text2, #000);
    line-height: 150%;
  }
  .div-5 {
    font-family: Poppins, sans-serif;
    cursor: pointer;
  }
  
  .div-7 {
    color: var(--Secondary-2, #000);
    font-family: Poppins, sans-serif;
    line-height: 21px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    cursor: pointer;
  }
  .div-8 {
    margin-top: 40px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-9 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 19%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-10 {
    display: flex;
    margin-top: 7px;
    flex-direction: column;
    font-size: 16px;
    color: var(--Text2, #000);
    font-weight: 400;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-10 {
      margin-top: 40px;
    }
  }
  .div-11 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }
  .div-12 {
    font-family: Poppins, sans-serif;
    align-self: flex-start;
    margin-top: 18px;
  }
  .div-13 {
    font-family: Poppins, sans-serif;
    align-self: flex-start;
    margin-top: 8px;
  }
  .div-14 {
    font-family: Poppins, sans-serif;
    align-self: flex-start;
    margin-top: 8px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-14 {
      white-space: initial;
    }
  }

  .div-12:hover,
  .div-13:hover,
  .div-14:hover,
  .div-16:hover,
  .div-17:hover {
    color: var(--Secondary-2, #db4444);
  }
  .div-15 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: 30px;
  }
  .div-16 {
    font-family: Poppins, sans-serif;
    align-self: flex-start;
    margin-top: 18px;
  }
  .div-17 {
    font-family: Poppins, sans-serif;
    align-self: flex-start;
    margin-top: 8px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-17 {
      white-space: initial;
    }
  }
  .div-18 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-top: 22px;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 81%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
      margin: 0px;
      justify-content: center;
      align-items: center;
    }
  }
  .div-19 {
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--Primary, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    padding: 43px 80px;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      margin-top: 40px;
      padding: 20px;
    }
  }
  .div-20 {
    color: var(--Secondary-2, #db4444);
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
    gap: 20px;
    color: var(--Text2, #000);
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-22 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-23 {
    font-family: Poppins, sans-serif;
  }
  .div-24 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 8px;
    justify-content: center;
    align-items: start;
    white-space: nowrap;
    padding: 19px 60px 19px 16px;
  }
  @media (max-width: 991px) {
    .div-24 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-25 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-26 {
    font-family: Poppins, sans-serif;
  }
  .div-27 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 8px;
    justify-content: center;
    align-items: start;
    white-space: nowrap;
    padding: 19px 60px 19px 16px;
  }
  @media (max-width: 991px) {
    .div-27 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-28 {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
    color: var(--Text2, #000);
    font-weight: 400;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-29 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-29 {
      white-space: initial;
    }
  }
  .div-30 {
    font-family: Poppins, sans-serif;
  }
  .div-31 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 8px;
    justify-content: center;
    align-items: start;
    padding: 17px 60px 17px 16px;
  }
  @media (max-width: 991px) {
    .div-31 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-32 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-32 {
      white-space: initial;
    }
  }
  .div-33 {
    font-family: Poppins, sans-serif;
  }
  .div-34 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 8px;
    justify-content: center;
    align-items: start;
    padding: 17px 60px 17px 16px;
  }
  @media (max-width: 991px) {
    .div-34 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .div-35 {
    color: var(--Text2, #000);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
    }
  }
  .div-36 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 8px;
    justify-content: center;
    align-items: start;
    color: var(--Text2, #000);
    font-weight: 400;
    white-space: nowrap;
    padding: 19px 60px 19px 16px;
  }
  @media (max-width: 991px) {
    .div-36 {
      white-space: initial;
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-37 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 16px;
    justify-content: center;
    align-items: start;
    color: var(--Text2, #000);
    font-weight: 400;
    white-space: nowrap;
    padding: 19px 60px 19px 16px;
  }
  @media (max-width: 991px) {
    .div-37 {
      white-space: initial;
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-38 {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    margin-top: 16px;
    justify-content: center;
    align-items: start;
    color: var(--Text2, #000);
    font-weight: 400;
    white-space: nowrap;
    padding: 19px 60px 19px 16px;
  }
  @media (max-width: 991px) {
    .div-38 {
      white-space: initial;
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-39 {
    align-self: end;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-39 {
      white-space: initial;
    }
  }
  .div-40 {
    color: var(--Text2, #000);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin: auto 0;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .div-41 {
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Button2, #db4444);
    flex-grow: 1;
    color: var(--Text, #fafafa);
    font-weight: 500;
    padding: 16px 48px;
    border: none;
    outline: none;
  }
  @media (max-width: 991px) {
    .div-41 {
      white-space: initial;
      padding: 0 20px;
    }
  }

  input{
    border: none;
    outline: none;
    color: gray;
  }