.div-252 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .div-252 {
    max-width: 100%;
    margin-top: 20px;
  }
}

.div-253 {
  gap: 20px;
  display: flex;
  height: 700px;
}

@media (max-width: 991px) {
  .div-253 {
    flex-direction: column;
    align-items: stretch;
    gap: 20px; /* Adjust gap as needed */
    overflow-x: hidden;
  }
}

.div-254,
.div-260,
.div-261 {
  position: relative;
  border-radius: 4px;
  background-color: var(--Button, #000);
  display: flex;
  flex-direction: column;
  color: var(--Text, #fafafa);
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}


@media (max-width: 991px) {
  .div-254,
  .div-260,
  .div-261 {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.div-255{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 511px;
  margin-top: 39px;
  align-items: start;
  padding: 50px 50px 52px 20px;
  justify-content: center;
}
.div-261 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 411px;
  margin-top: 39px;
  align-items: start;
  padding: 30px ;
  justify-content: center;
}

@media (max-width: 991px) {
  .div-255,
  .div-261 {
    max-width: 100%;
    padding-right: 20px;
  }
}

.img-77,
.img-78 {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.div-256,
.div-262 {
  position: relative;
  letter-spacing: 0.72px;
  margin-top: 20px; /* Adjust margin-top as needed */
  font: 600 24px/100% Inter, sans-serif;
}

.div-257,
.div-263 {
  position: relative;
  margin-top: 16px;
  width: 100%; /* Adjust width as needed */
  font: 400 14px/21px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.div-258,
.div-264 {
  position: relative;
  color: #fff;
  margin-top: 16px;
  font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.column-17,
.column-18 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-17,
  .column-18 {
    width: 100%;
    align-items: center;
    margin: 0;
  }
}

.div-259 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-259 {
    max-width: 100%;
    margin-top: 30px;
  }
}

.div-265 {
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .div-265 {
    max-width: 100%;
  }
}

.div-266 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-266 {
    flex-direction: column;
    align-items: stretch;
    gap: 20px; /* Adjust gap as needed */
  }
}

.img-79,
.img-80 {
  aspect-ratio: 0.95;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 600px) {
  .div-252 {
    margin-top: 20px;
  }

  .div-253 {
    height: auto;
  }

  .div-254,
  .div-260,
  .div-261 {
    padding: 0;
  }

  .div-255,
  .div-261 {
    padding: 50px 20px 52px;
  }

  .div-262,
  .div-263,
  .div-264 {
    width: 100%;
    text-align: center;
  }

  .div-266 {
    gap: 10px;
  }
}

@media (max-width: 601px) {
  .div-252 {
    margin-top: 20px;
  }

  .div-253 {
    height: auto;
  }

  .div-254,
  .div-260,
  .div-261 {
    padding: 0;
  }

  .div-255,
  .div-261 {
    padding: 50px 20px 52px;
  }

  .div-262,
  .div-263,
  .div-264 {
    width: 100%;
    text-align: center;
  }

  .div-266 {
    gap: 10px;
  }
}
