<div class="div">
    <div class="div-2">
      <div class="div-3">Wishlist (4)</div>
      <button class="div-4">Move All To Bag</button>
    </div>
    <div class="div-5">
      <div class="div-6">
        <div class="column">
          <div class="div-7">
            <div class="div-8">
              <div class="div-9">
                <div class="div-10 justify-content-between px-3">
                  <div class="div-11">-35%</div>
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d9345dad452b03692cdbc613f709d144e723e1bbf5357d91182186f1925be37?"
                  class="img-2 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-15">Gucci duffle bag</div>
            <div class="div-16">
              <div class="div-17">$960</div>
              <div class="div-18">$1160</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-7">
            <div class="div-8">
              <div class="div-9">
                <div class="div-10 justify-content-between px-3">
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d9345dad452b03692cdbc613f709d144e723e1bbf5357d91182186f1925be37?"
                  class="img-2 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-15">Gucci duffle bag</div>
            <div class="div-16">
              <div class="div-17">$960</div>
              <div class="div-18">$1160</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-7">
            <div class="div-8">
              <div class="div-9">
                <div class="div-10 justify-content-between px-3">
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d9345dad452b03692cdbc613f709d144e723e1bbf5357d91182186f1925be37?"
                  class="img-2 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-15">Gucci duffle bag</div>
            <div class="div-16">
              <div class="div-17">$960</div>
              <div class="div-18">$1160</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-7">
            <div class="div-8">
              <div class="div-9">
                <div class="div-10 justify-content-between px-3">
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d9345dad452b03692cdbc613f709d144e723e1bbf5357d91182186f1925be37?"
                  class="img-2 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-15">Gucci duffle bag</div>
            <div class="div-16">
              <div class="div-17">$960</div>
              <div class="div-18">$1160</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-42">
      <div class="div-43">
        <div class="div-44"><div class="div-45"></div></div>
        <div class="div-46">Just For You</div>
      </div>
      <button class="div-4">See All</button>
    </div>
    <div class="div-48">
      <div class="div-49">
        <div class="column">
          <div class="div-50">
            <div class="div-51">
              <div class="div-52">
                <div class="div-53 justify-content-between px-3">
                  <div class="div-11">-35%</div>
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/92f95af307a693492ef165c4482565d88008392560df9e3855fc15ed6903d028?"
                  class="img-14 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-58">ASUS FHD Gaming Laptop</div>
            <div class="div-59">
              <div class="div-60">$960</div>
              <div class="div-61">$1160</div>
            </div>
            <div class="div-62">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f79bd71a6471f38d5d1fc5e45c151fa99346fc4a5342fd2b25d87f1e68ade395?"
                class="img-16"
              />
              <div class="div-63">(65)</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-50">
            <div class="div-51">
              <div class="div-52">
                <div class="div-53 justify-content-between px-3">
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/92f95af307a693492ef165c4482565d88008392560df9e3855fc15ed6903d028?"
                  class="img-14 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-58">ASUS FHD Gaming Laptop</div>
            <div class="div-59">
              <div class="div-60">$960</div>
              <div class="div-61">$1160</div>
            </div>
            <div class="div-62">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f79bd71a6471f38d5d1fc5e45c151fa99346fc4a5342fd2b25d87f1e68ade395?"
                class="img-16"
              />
              <div class="div-63">(65)</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-50">
            <div class="div-51">
              <div class="div-52">
                <div class="div-53 justify-content-between px-3">
                  <div class="div-78">New</div>
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/92f95af307a693492ef165c4482565d88008392560df9e3855fc15ed6903d028?"
                  class="img-14 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-58">ASUS FHD Gaming Laptop</div>
            <div class="div-59">
              <div class="div-60">$960</div>
              <div class="div-61">$1160</div>
            </div>
            <div class="div-62">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f79bd71a6471f38d5d1fc5e45c151fa99346fc4a5342fd2b25d87f1e68ade395?"
                class="img-16"
              />
              <div class="div-63">(65)</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="div-50">
            <div class="div-51">
              <div class="div-52">
                <div class="div-53 justify-content-between px-3">
                  <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/92f95af307a693492ef165c4482565d88008392560df9e3855fc15ed6903d028?"
                  class="img-14 ms-auto"
                />
                </div>
              </div>
              <img
                    loading="lazy"
                    srcset="..."
                    class="img"
                  />
              <div class="div-12">
                <div class="div-13">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0e462325802d0556992aa0397efea5256f6fd0a6001162dca8b6d920936baee1?"
                    class="img-3"
                  />
                  <a routerLink = "/cart" class="div-14">Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="div-58">ASUS FHD Gaming Laptop</div>
            <div class="div-59">
              <div class="div-60">$960</div>
              <div class="div-61">$1160</div>
            </div>
            <div class="div-62">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f79bd71a6471f38d5d1fc5e45c151fa99346fc4a5342fd2b25d87f1e68ade395?"
                class="img-16"
              />
              <div class="div-63">(65)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  
