.img-48 {
  aspect-ratio: 2.33;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin-top: 140px;
  max-width: 1170px;
}
@media (max-width: 991px) {
  .img-48 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div {
    background-color: var(--BG, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
  }
  @media (max-width: 500px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    background-color: var(--Text2, #000);
    align-self: end;
    margin-top: 132px;
    width: 1251px;
    max-width: 100%;
    padding: 16px 72px;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-4 {
      margin-top: 40px;
    }
  }
  .div-5 {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    color: var(--Text, #fafafa);
    font-weight: 400;
    text-align: center;
    line-height: 150%;
  }
  .img {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 40px;
  }
  .div-6 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-7 {
    color: var(--Text, #fafafa);
    letter-spacing: 1.92px;
    margin-top: 31px;
    font: 600 48px/60px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      font-size: 40px;
      line-height: 56px;
    }
  }
  .div-8 {
    align-self: start;
    display: flex;
    margin-top: 34px;
    gap: 8px;
    font-size: 16px;
    color: var(--Text, #fafafa);
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-9 {
      white-space: initial;
    }
  }
  .div-10 {
    font-family: Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
    }
  }
  .div-11 {
    background-color: #fafafa;
    height: 1px;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }
  .div-12 {
    align-items: start;
    align-self: end;
    display: flex;
    margin-top: 22px;
    width: 110px;
    max-width: 100%;
    gap: 12px;
  }
  .div-13 {
    border-radius: 50%;
    height: 12px;
    flex: 1;
  }
  .div-14 {
    border-radius: 50%;
    height: 12px;
    flex: 1;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex: 1;
  }
  .div-15 {
    border-radius: 50%;
    height: 12px;
    flex: 1;
  }
  .div-16 {
    border-radius: 50%;
    height: 12px;
    flex: 1;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-4 {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-17 {
    display: flex;
    margin-top: 59px;
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-18 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-18 {
      white-space: initial;
    }
  }
  .div-19 {
    align-self: start;
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: var(--Secondary-2, #db4444);
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .div-20 {
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    width: 20px;
    height: 40px;
  }
  .div-21 {
    font-family: Poppins, sans-serif;
    margin: auto 0;
  }
  .div-22 {
    color: var(--Text2, #000);
    letter-spacing: 1.44px;
    margin-top: 20px;
    font: 36px/133% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      white-space: initial;
    }
  }
  .div-23 {
    align-self: end;
    display: flex;
    margin-top: 62px;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-23 {
      margin-top: 40px;
    }
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 46px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 46px;
  }
  .div-24 {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    color: var(--Text2, #000);
    font-weight: 400;
    line-height: 150%;
  }
  @media (max-width: 500px) {
    .div-24 {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  .div-25 {
    text-decoration: none;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  @media (max-width: 1024px) {
    .div-25 {
      white-space: initial;
    }
  }
  .div-25:hover{
    background-color: #db4444;
  }
  .img-7 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 68px;
    height: 68px;
    margin-left: 12px;
  }
  @media (max-width: 991px) {
    .img-7 {
      margin-left: 10px;
    }
  }
  .div-26 {
    font-family: Poppins, sans-serif;
    margin-top: 22px;
  }
  .div-37 {
    display: flex;
    margin-top: 50px;
    width: 1170px;
    max-width: 100%;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-37 {
      flex-wrap: wrap;
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .div-38 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }
  .div-39 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 16px;
    color: var(--Secondary-2, #db4444);
  }
  .div-40 {
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    width: 20px;
    height: 40px;
  }
  .div-41 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-42 {
    color: var(--Text2, #000);
    letter-spacing: 1.44px;
    margin-top: 20px;
    white-space: nowrap;
    font: 36px/133% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-42 {
      white-space: initial;
    }
  }
  .div-43 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Button2, #db4444);
    align-self: end;
    margin-top: 52px;
    color: var(--Text, #fafafa);
    white-space: nowrap;
    padding: 16px 48px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-43 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-44 {
    margin-top: 60px;
    width: 100%;
  }
  @media (max-width: 500px) {
    .div-44 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-45 {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 500px) {
    .div-45 {
      align-items: center;
      gap: 0px;
      width: 100%;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-46 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-46 {
      margin-top: 30px;
    }
  }
  .div-47 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.02;
    width: 100%;
    padding-bottom: 16px;
  }
  .img-13 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-14 {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-48 {
    color: #000;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-49 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-51 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-52 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-52 {
      white-space: initial;
    }
  }
  .img-15 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-53 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-54 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-54 {
      margin-top: 30px;
    }
  }
  .div-55 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    padding: 17px 0 50px;
  }
  .div-56 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.49;
    width: 100%;
    align-items: center;
    padding: 44px 46px 8px;
  }
  @media (max-width: 991px) {
    .div-56 {
      padding: 0 20px;
    }
  }
  .img-16 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-17 {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 178px;
  }
  .div-57 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-58 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-58 {
      white-space: initial;
    }
  }
  .div-59 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-60 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-61 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-61 {
      white-space: initial;
    }
  }
  .img-18 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-62 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-63 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-63 {
      margin-top: 30px;
    }
  }
  .div-64 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 17px 0 50px;
  }
  .img-19 {
    aspect-ratio: 1.67;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-65 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-66 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-66 {
      white-space: initial;
    }
  }
  .div-67 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-68 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-69 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-69 {
      white-space: initial;
    }
  }
  .img-20 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-70 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-71 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-71 {
      margin-top: 30px;
    }
  }
  .div-72 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    padding: 14px 0 47px;
  }
  .img-21 {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-73 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-74 {
    color: var(--Secondary-2, #db4444);
    margin-top: 8px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-75 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-75 {
      white-space: initial;
    }
  }
  .img-22 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-76 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-77 {
    align-self: end;
    display: flex;
    margin-top: 54px;
    width: 1251px;
    max-width: 100%;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-77 {
      flex-wrap: wrap;
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .div-78 {
    color: var(--Text2, #000);
    letter-spacing: 1.44px;
    flex-grow: 1;
    flex-basis: auto;
    font: 600 36px/133% Inter, sans-serif;
  }
  .div-79 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Button2, #db4444);
    color: var(--Text, #fafafa);
    white-space: nowrap;
    padding: 16px 48px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-79 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-80 {
    align-self: end;
    margin-top: 60px;
    width: 1251px;
    max-width: 100%;
  }
  @media (max-width: 500px) {
    .div-80 {
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .div-81 {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 500px) {
    .div-81 {
      align-items: center;
      width: 100%;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-82 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-82 {
      margin-top: 30px;
    }
  }
  .div-83 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.05;
    width: 100%;
    padding-bottom: 8px;
  }
  .img-23 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-84 {
    position: relative;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    height: 250px;
  }
  .div-85 {
    color: #000;
    margin-top: 8px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-86 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-86 {
      white-space: initial;
    }
  }
  .div-87 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-88 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-89 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-89 {
      white-space: initial;
    }
  }
  .img-24 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-90 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-91 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-91 {
      margin-top: 30px;
    }
  }
  .div-92 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    padding: 17px 0 50px;
  }
  .div-93 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.49;
    width: 100%;
    align-items: center;
    padding: 44px 46px 8px;
  }
  @media (max-width: 991px) {
    .div-93 {
      padding: 0 20px;
    }
  }
  .img-25 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-26 {
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
    width: 178px;
  }
  .div-94 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-95 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-95 {
      white-space: initial;
    }
  }
  .div-96 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-97 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-98 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-98 {
      white-space: initial;
    }
  }
  .img-27 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-99 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-100 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-100 {
      margin-top: 30px;
    }
  }
  .div-101 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    padding: 17px 0 50px;
  }
  .img-28 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-bottom: 25px;
  }
  .div-102 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-103 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-103 {
      white-space: initial;
    }
  }
  .div-104 {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins, sans-serif;
  }
  .div-105 {
    color: var(--Button, #000);
    font-family: Poppins, sans-serif;
    text-decoration-line: strikethrough;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-106 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-106 {
      white-space: initial;
    }
  }
  .img-29 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-107 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-108 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-108 {
      margin-top: 30px;
    }
  }
  .div-109 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    aspect-ratio: 1.02;
    width: 100%;
    padding-bottom: 16px;
  }
  .img-30 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-110 {
    position: relative;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    height: 250px;
  }
  .div-111 {
    color: #000;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-112 {
    color: var(--Secondary-2, #db4444);
    margin-top: 8px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-113 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: var(--Text2, #000);
    font-weight: 600;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-113 {
      white-space: initial;
    }
  }
  .img-31 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 100px;
    max-width: 100%;
  }
  .div-114 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .img-32 {
    aspect-ratio: 2.33;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 75px;
    max-width: 1170px;
  }
  @media (max-width: 991px) {
    .img-32 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-115 {
    align-self: start;
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: var(--Secondary-2, #db4444);
    font-weight: 600;
    white-space: nowrap;
    margin: 105px 0 0 55px;
  }
  @media (max-width: 991px) {
    .div-115 {
      white-space: initial;
      margin: 40px 0 0 10px;
    }
  }
  .div-116 {
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    width: 20px;
    height: 40px;
  }
  .div-117 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .div-118 {
    color: var(--Text2, #000);
    letter-spacing: 1.44px;
    align-self: start;
    white-space: nowrap;
    margin: 20px 0 0 55px;
    font: 600 36px/133% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-118 {
      margin-left: 10px;
      white-space: initial;
    }
  }
  .div-119 {
    margin-top: 60px;
    width: 100%;
    max-width: 1170px;
  }
  @media (max-width: 991px) {
    .div-119 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-120 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-120 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-121 {
    border-radius: 4px;
    background-color: var(--Button, #000);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Text, #fafafa);
    width: 100%;
    padding: 50px 29px 0;
  }
  @media (max-width: 991px) {
    .div-121 {
      max-width: 100%;
      margin-top: 30px;
      padding: 0 20px;
    }
  }
  .div-122 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 511px;
    margin-top: 39px;
    align-items: start;
    padding: 50px 80px 32px 0;
  }
  @media (max-width: 991px) {
    .div-122 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .img-33 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-123 {
    position: relative;
    letter-spacing: 0.72px;
    margin-top: 307px;
    font: 600 24px/100% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-123 {
      margin-top: 40px;
    }
  }
  .div-124 {
    position: relative;
    margin-top: 16px;
    width: 242px;
    font: 400 14px/21px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-125 {
    position: relative;
    color: #fff;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-126 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-126 {
      max-width: 100%;
      margin-top: 30px;
    }
  }
  .div-127 {
    border-radius: 4px;
    background-color: #0d0d0d;
    display: flex;
    padding-left: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--Text, #fafafa);
  }
  @media (max-width: 991px) {
    .div-127 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-128 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 284px;
    width: 432px;
    max-width: 100%;
    align-items: start;
    padding: 50px 80px 24px 0;
  }
  @media (max-width: 991px) {
    .div-128 {
      padding-right: 20px;
    }
  }
  .img-34 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-129 {
    position: relative;
    letter-spacing: 0.72px;
    margin-top: 88px;
    white-space: nowrap;
    font: 600 24px/100% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-129 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-130 {
    position: relative;
    margin-top: 16px;
    width: 255px;
    font: 400 14px/21px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-131 {
    position: relative;
    color: #fff;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-132 {
    justify-content: center;
    margin-top: 32px;
  }
  @media (max-width: 991px) {
    .div-132 {
      max-width: 100%;
    }
  }
  .div-133 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-133 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .img-35 {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-35 {
      margin-top: 30px;
    }
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-14 {
      width: 100%;
    }
  }
  .img-36 {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-36 {
      margin-top: 30px;
    }
  }
  .div-134 {
    justify-content: center;
    margin-top: 140px;
    width: 935px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .div-134 {
      margin-top: 40px;
    }
  }
  .div-135 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-135 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-136 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-136 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-37 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 80px;
    align-self: center;
  }
  .div-137 {
    margin-top: 24px;
    font: 600 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-137 {
      white-space: initial;
    }
  }
  .div-138 {
    text-align: center;
    margin-top: 8px;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-138 {
      white-space: initial;
    }
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-139 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    white-space: nowrap;
    padding: 0 8px;
  }
  @media (max-width: 991px) {
    .div-139 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-38 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 80px;
    align-self: center;
  }
  .div-140 {
    margin-top: 24px;
    font: 600 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-140 {
      white-space: initial;
    }
  }
  .div-141 {
    margin-top: 8px;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-141 {
      white-space: initial;
    }
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-17 {
      width: 100%;
    }
  }
  .div-142 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-142 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .img-39 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 80px;
    align-self: center;
  }
  .div-143 {
    margin-top: 24px;
    font: 600 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-143 {
      white-space: initial;
    }
  }
  .div-144 {
    margin-top: 8px;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-144 {
      white-space: initial;
    }
  }

