<div class="px-5">
    <div class="div-5 breadcrumb">
        <div class="div-6 breadcrumb-item">Account</div>
        <div class="div-7 breadcrumb-item">Gaming</div>
        <div class="div-8 breadcrumb-item active">Havic HV G-92 Gamepad</div>
      </div>
      <div class="div-3">
        <div class="column">
          <div class="div-4">
            <div class="div-9">
              <div class="div-10">
                <div class="column-2">
                  <div class="div-11">
                    <div class="div-12">
                      <img
                        loading="lazy"
                        src="../../../assets/productdetails/main2.png"
                        class="img"
                      />
                    </div>
                    <div class="div-13">
                      <img
                        loading="lazy"
                        src="../../../assets/productdetails/main3.png"
                        class="img-2"
                      />
                    </div>
                    <div class="div-14">
                      <img
                        loading="lazy"
                        src="../../../assets/productdetails/main4.png"
                        class="img-3"
                      />
                    </div>
                    
                    <div class="div-15">
                      <img
                        loading="lazy"
                        src="../../../assets/productdetails/main5.png"
                        class="img-4"
                      />
                    </div>
                  </div>
                </div>
                <div class="column-3">
                  <div class="div-16">
                    <img
                      loading="lazy"
                      src="../../../assets/productdetails/main1.png"
                      class="img-5"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-21">
            <div class="div-22">Havic HV G-92 Gamepad</div>
            <div class="div-23">
              <div class="div-24">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c35d903ef32712f74f1d691c7776b06b738b9c9c861a4482d47d9f9e4b9b6d4a?"
                  class="img-6"
                />
                <div class="div-25">(150 Reviews)</div>
              </div>
              <div class="div-26">In Stock</div>
            </div>
            <div class="div-27">$192.00</div>
            <div class="div-28">
              PlayStation 5 Controller Skin High quality vinyl with air channel
              adhesive for easy bubble free install & mess free removal Pressure
              sensitive.
            </div>
            <div class="div-29"></div>
            <div class="div-30">
              <div class="div-31">Colours:</div>
              <div class="div-32">
                <input class="div-33" type="radio" name="option" id="opt1" checked>
                <input class="div-33" type="radio" name="option" id="opt2">
              </div>
            </div>
            <div class="div-34">
              <div class="div-35">Size:</div>
              <div class="div-36">
                <div class="div-37">XS</div>
                <div class="div-37">S</div>
                <div class="div-37">M</div>
                <div class="div-37">L</div>
                <div class="div-37">XL</div>
              </div>
            </div>
            <div class="div-42 d-flex flex-wrap">
              <div class="div-43">
                <button class="img-8" (click)="decrement()">-</button>
                <input class="div-44" type="number" [value]="value" readonly>
                <button class="img-8" (click)="increment()">+</button>
              </div>
              <button routerLink="cart" class="div-45">Buy Now</button>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/ec08a593d461e728db2a3e431df9e075d5f9912126c045dc62171b9ec6894644?"
                class="img-10"
              />
            </div>
            <div class="div-46">
              <div class="div-47">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c77aff3d17772777707c948ac0949f6c9a95e21fdd27047b9c25a0d9dc0a71b1?"
                  class="img-11"
                />
                <div class="div-48">
                  <div class="div-49">Free Delivery</div>
                  <input class="div-50" type="text" placeholder="Enter your postal code for Delivery Availability">
                </div>
              </div>
              <div class="div-51"></div>
              <div class="div-52">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/e12f39dbfaf078f3922b6633f3e710afcf5722ad4bba639aa0e64d3921122fb1?"
                  class="img-12"
                />
                <div class="div-53">
                  <div class="div-54">Return Delivery</div>
                  <div class="div-50">
                    Free 30 Days Delivery Returns.
                    <a style="text-decoration: underline; color: black; cursor: pointer;">Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="div-17">
            <div class="div-18"><div class="div-19"></div></div>
            <div class="div-20">Related Item</div>
        </div>
        <div class="div-56 d-flex justify-content-center my-4">
            <app-product [imageSrc]="'../../../assets/homepage/h1.png'"></app-product>
            <app-product [imageSrc]="'../../../assets/homepage/h2.png'"></app-product>
            <app-product [imageSrc]="'../../../assets/homepage/h3.png'"></app-product>
            <app-product [imageSrc]="'../../../assets/homepage/h4.png'"></app-product>
        </div>
    </div>
    </div>

  
