  /*new*/
  .div {
        background-color: var(--BG, #fff);
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        .div {
          padding-right: 20px;
        }
      }
      .div-3 {
        gap:40px;
        display: flex;
        justify-content: space-evenly;
      }
      @media (max-width: 500px) {
        .div-3 {
          flex-direction: column;
          align-items: center;
          gap: 0px;
        }
      }
      .column {
        width: 60%;
        display: flex;
        justify-content: center;
        line-height: normal;
      }
      @media (max-width: 500px) {
        .column {
          width: 100%;
        }
      }
      
      .img {
        aspect-ratio: 1.14;
        object-fit: auto;
        object-position: center;
        width: 100%;
        margin-top: 20px;
      }
      @media (max-width: 991px) {
        .img {
          max-width: 100%;
        }
      }
      .column-2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        line-height: normal;
        margin-top: 40px;
      }
      @media (max-width: 500px) {
        .column-2 {
          width: 100%;
          margin: 0;
        }
      }
      .div-5 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        font-size: 16px;
        line-height: 150%;
        margin: auto 0;
      }
      @media (max-width: 991px) {
        .div-5 {
          margin-top: 40px;
        }
      }
      .div-6 {
        color: var(--Text2, #000);
        letter-spacing: 1.44px;
        line-height: 2 ;
        font: 500 36px/83% Inter, sans-serif;
      }
      @media (max-width: 600px) {
        .div-6 {
          white-space: initial;
        }
      }
      .div-7 {
        color: var(--Text2, #000);
        font-family: Poppins, sans-serif;
        font-weight: 400;
        margin-top: 24px;
      }
      .div-8 {
        color: var(--Text2, #000);
        font-family: Poppins, sans-serif;
        font-weight: 400;
        margin-top: 48px;
        border: none;
        outline: none;
      }
      @media (max-width: 991px) {
        .div-8 {
          margin-top: 40px;
        }
      }
      .div-9 {
        background-color: gray;
        margin-top: 7px;
        height: 1px;
      }
  
      .div-12 {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        gap: 20px;
      }
      .div-13 {
        font-family: Poppins, sans-serif;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--Button2, #db4444);
        color: var(--Text, #fafafa);
        font-weight: 500;
        white-space: nowrap;
        padding: 10px 20px;
        border: none;
        outline: none;
      }
      @media (max-width: 900px) {
        .div-13 {
          white-space: initial;
          padding: 10px 10px;
        }
        .div-12{
          gap:10px;
        }
      }
      @media (max-width: 400px){
        .div-13, .div-14 {
          padding: 10px 10px;
        }
      }
      .div-14 {
        color: var(--Secondary-2, #db4444);
        font-family: Poppins, sans-serif;
        font-weight: 400;
        flex-grow: 1;
        flex-basis: auto;
        margin: auto 0;
        text-decoration: none;
      }
    
  
      