.srch {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  padding: 6px 10px;
}

.img {
  aspect-ratio: 1.16;
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 1.5px;
  stroke: #000;
  max-width: 32px;
}

.dropdown .img:hover {
  background-color: #db4444;
  border-radius: 50%;
}

.img-2 {
  aspect-ratio: 1.16;
  object-fit: auto;
  object-position: center;
  width: 100%;
  stroke-width: 1.5px;
  stroke: #000;
  max-width: 22px;
}

.nav-item:hover {
  border-bottom: 2px solid gray;
}

.lang select{
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

.lang .dropdown {
  padding: 0 4px;
}

.top {
  padding: 10px 10px 0px 10px;
  background-color: black;
  color: white;
}

.top a {
  color: white;
  margin: 0 8px;
}
.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  border-radius: 6px;
  display: none;
  position: absolute;
  background: linear-gradient(to top, #000000, #808080);;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: small;
}

.dropdown-content a:hover {
  background-color: gray;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgg {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
}